<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <title>空白页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <link rel="stylesheet" href="http://wang981128.gitee.io/graduation_design/amis/sdk.css"/>
    <link rel="stylesheet" href="http://wang981128.gitee.io/graduation_design/amis/helper.css"/>
    <link rel="stylesheet" href="http://wang981128.gitee.io/graduation_design/amis/iconfont.css"/>
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div id="root" class="app-wrapper"></div>
<script src="http://wang981128.gitee.io/graduation_design/amis/sdk.js"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        let amisJSON =
            {
                "type": "page",
                "body": {
                    "type": "crud",
                    "api": "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample",
                    "syncLocation": false,
                    "autoGenerateFilter": true,
                    "columns": [
                        {
                            "name": "id",
                            "label": "ID",
                            "searchable": {
                                "type": "input-text",
                                "name": "id",
                                "label": "主键",
                                "placeholder": "输入id"
                            }
                        },
                        {
                            "name": "engine",
                            "label": "Rendering engine"
                        },
                        {
                            "name": "browser",
                            "label": "Browser",
                            "searchable": {
                                "type": "select",
                                "name": "browser",
                                "label": "浏览器",
                                "placeholder": "选择浏览器",
                                "options": [
                                    {
                                        "label": "Internet Explorer ",
                                        "value": "ie"
                                    },
                                    {
                                        "label": "AOL browser",
                                        "value": "aol"
                                    },
                                    {
                                        "label": "Firefox",
                                        "value": "firefox"
                                    }
                                ]
                            }
                        },
                        {
                            "name": "platform",
                            "label": "Platform(s)"
                        },
                        {
                            "name": "version",
                            "label": "Engine version",
                            "searchable": {
                                "type": "input-number",
                                "name": "version",
                                "label": "版本号",
                                "placeholder": "输入版本号",
                                "mode": "horizontal"
                            }
                        },
                        {
                            "name": "grade",
                            "label": "CSS grade"
                        }
                    ]
                }
            }
        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>
</body>

</html>