<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <title>数据表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <link rel="stylesheet" href="https://amis-6gy0j1tm6810beb8-1252781038.tcloudbaseapp.com/amis/sdk.css"/>
    <link rel="stylesheet" href="https://amis-6gy0j1tm6810beb8-1252781038.tcloudbaseapp.com/amis/helper.css"/>
    <link rel="stylesheet" href="https://amis-6gy0j1tm6810beb8-1252781038.tcloudbaseapp.com/amis/iconfont.css"/>
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div id="root" class="app-wrapper"></div>
<script src="https://amis-6gy0j1tm6810beb8-1252781038.tcloudbaseapp.com/amis/sdk.js"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        let amisJSON =
            {
                type: 'page',
                body: [
                    {
                        "type": "crud",
                        "api": "post:api/source_data",
                        "syncLocation":false,
                        // "interval": 1000,
                        "autoGenerateFilter": true,
                        // "defaultParams": {
                        //     "perPage": 50
                        // },
                        "columns": [
                            {
                                "name": "ID",
                                "label": "ID"

                            },
                            {
                                "name": "Time",
                                "label": "Time"
                            },
                            {
                                "name": "Source",
                                "label": "Source",
                                "searchable": {
                                    "type": "input-text",
                                    "name": "Source",
                                    "label": "Source",
                                    "placeholder": "源地址",
                                },
                            },
                            {
                                "name": "Destination",
                                "label": "Destination",
                                "searchable": {
                                    "type": "input-text",
                                    "name": "Destination",
                                    "label": "Destination",
                                    "placeholder": "目的地址",
                                },
                            },
                            {
                                "name": "Protocal",
                                "label": "Protocal",
                                "searchable": {
                                    "type": "input-number",
                                    "name": "Protocal",
                                    "label": "Protocal",
                                    "placeholder": "协议ID",
                                    // "mode": "horizontal"
                                },
                            },
                            {
                                "name": "Length",
                                "label": "Length"
                            },
                            {
                                "name": "Info",
                                "label": "Info"
                            },
                        ]
                    }

                ]
            }
        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>
</body>

</html>